@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body, h1, h2, h3, h4, h5, h6, p {
  color: rgb(255, 255, 255);
}

.container__layout {
  height: 100%;
  width: 100%;
  /* background-image: linear-gradient(135deg, #0FF0B3 0%,#036ED9 100%); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.layout {
  background: rgba(255, 255, 255, 0);
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
}

.layout__header {
  background: rgba(255, 255, 255, 0);
  height: 10%;
  padding: 10px 20px;
}

.layout__content {
  background: rgba(255, 255, 255, 0);
  height: 80%;
  color: rgb(255, 255, 255) !important;
}

.layout__footer {
  background: rgba(255, 255, 255, 0);
  height: 10%;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
}

.full__height {
  height: 100%;
}

.center__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes progress-bar {
  0%   {stroke-opacity : 1;}
  50%  {stroke-opacity: 0.5;}
  100% {stroke-opacity : 1;}
}
.rc-progress-line-path {
  animation: progress-bar 2.5s linear infinite;
}

.white {
  color: rgb(255, 255, 255);
}

.header__progress {
  font-family: 'PT Sans Caption', sans-serif;
  /* font-weight: bold; */
  font-size: 400%;
  margin: 0;
  cursor: pointer;
}

.percent {
  font-family: 'Source Code Pro', monospace;
  color: rgb(255, 255, 255) !important;
  white-space: pre-wrap;
  font-size: 250%;
}

.progress__bar {
  margin: 1%;
}

.author__text {
  color: rgb(255, 255, 255);
}

.quote__space {
  display: flex;
  flex-direction: column;
  font-size: 110%;
}

.quote__author {
  font-size: 85%;
}

.config__button {
  cursor: pointer;
}

.accounts__button {
  float: right;
  cursor: pointer;
}

.modal__contents {
  color: #000000;
}

.modal__contents h3 {
  color: #000000;
}
