@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700|Source+Code+Pro');

body, h1, h2, h3, h4, h5, h6, p {
  color: rgb(255, 255, 255);
  font-family: system-ui, 'Work Sans', sans-serif;
}

span, label, div, input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Work Sans', sans-serif;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Work Sans', sans-serif;
}

.container__layout {
  height: 100%;
  width: 100%;
  /* background-image: linear-gradient(135deg, #0FF0B3 0%,#036ED9 100%); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.layout {
  background: rgba(255, 255, 255, 0);
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
}

.layout__header {
  background: rgba(255, 255, 255, 0);
  height: 10%;
  padding: 10px 20px;
}

.layout__content {
  background: rgba(255, 255, 255, 0);
  height: 80%;
  color: rgb(255, 255, 255) !important;
}

.layout__footer {
  background: rgba(255, 255, 255, 0);
  height: 10%;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
}

.full__height {
  height: 100%;
}

.center__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes progress-bar {
  0%   {stroke-opacity : 1;}
  50%  {stroke-opacity: 0.5;}
  100% {stroke-opacity : 1;}
}
.rc-progress-line-path {
  animation: progress-bar 2.5s linear infinite;
}

.white {
  color: rgb(255, 255, 255);
}

.header__progress {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Work Sans', sans-serif;
  /* font-weight: bold; */
  font-size: 600%;
  margin: 0;
  cursor: pointer;
  text-shadow: rgba(0,0,0,.1) 2px 5px 10px;
}

.percent {
  font-family: 'Source Code Pro', monospace;
  color: rgb(255, 255, 255) !important;
  white-space: pre-wrap;
  font-size: 400%;
  text-shadow: rgba(0,0,0,.1) 2px 5px 10px;
}

.subtitle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Work Sans', sans-serif;
  color: rgb(255, 255, 255) !important;
  white-space: pre-wrap;
  font-size: 250%;
  margin: 0;
  padding: 0;
  text-shadow: rgba(0,0,0,.1) 2px 5px 10px;
}

.progress__bar {
  margin: 1%;
  text-shadow: rgba(0,0,0,.1) 2px 5px 10px;
}

.author__text {
  color: rgb(255, 255, 255);
}

.quote__space {
  display: flex;
  flex-direction: column;
  font-size: 110%;
}

.quote__author {
  font-size: 85%;
}

.config__button {
  cursor: pointer;
}

.accounts__button {
  float: right;
  cursor: pointer;
}

.modal__contents {
  color: #000000;
}

.modal__contents p {
  color: #000000;
}

.modal__contents h3 {
  color: #000000;
}

iframe#drift-widget.drift-widget-welcome-online {
  bottom: 25px !important;
}

.ant-switch-checked {
  background-color: #c56cd6;
}

.ant-switch-inner {
  font-size: 125%;
}

.ant-radio-button-wrapper-checked {
  border-color: #c56cd6;
}

.ant-radio-button-wrapper-checked {
  border-color: #c56cd6;
  color: #c56cd6;
  box-shadow: -1px 0 0 0 #c56cd6;
}

.ant-radio-button-wrapper-checked:hover {
  border-color: #c56cd6;
}

.ant-radio-button-wrapper-checked:first-child {
  border-color: #c56cd6;
}

.hoverable:hover {
  color: #c56cd6;
}

::selection {
  background: #c56cd6;
  color: #fff;
}

ul {
  color: #c56cd6;
}

ul li span {
  color: #000000;
}

.pricing__modal .ant-btn-primary {
  color: #fff;
  background-color: #c56cd6;
  border-color: #c56cd6;
}

svg.rc-progress-line {
  border-radius: 22px;
}

/* .ant-radio-button-wrapper-checked {
  border-color: #c56cd6;
  color: #c56cd6;
} */
