.container__layout {
  height: 100%;
  width: 100%;
}

.layout {
  background: #fff;
  height: 100%;
  width: 100%;
}

.layout__header {
  background: #ffffff00;
  height: 10%;
}

.layout__content {
  background: #ffffff00;
  height: 80%;
}

.layout__footer {
  background: #ffffff00;
  height: 10%;
}
